plugins {
    id 'nf-co2footprint@1.3.0'
}

params {
    outdir = 'out'
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
}

trace {
    raw = true
    fields = [
        'task_id', 'hash', 'native_id', 'name', 'status', 'exit', 'submit', 'duration', 'realtime', '%cpu', 'peak_rss', 'peak_vmem', 'rchar', 'wchar', // Standard
        'start', 'complete', 'cpus', 'memory', 'process', 'cpu_model', // For Post-run calculation
    ]
}

co2footprint {
    // Uses nf-core's `trace_report_suffix` or `trace_timestamp` parameter, if present, otherwise uses current Date & Time
    trace {
        file = "${params.outdir}/pipeline_info/trace_test.txt"
    }
    summary {
        file = "${params.outdir}/pipeline_info/summary_test.txt"
    }
    report {
        file = "${params.outdir}/pipeline_info/report_test.html"
    }
    provenance {
        file = "${params.outdir}/pipeline_info/data_test.json"
        enabled = true
        emissionMetricsOnly = false
    }
    // Standard parameters
    pue = 1.5

    machineType = 'local'
	  ciMarket = 100.0
}
