# Docs / other
.cache/
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle
.idea
.nextflow*

# Ignore Gradle build output directory
build
work
out
co2footprint_*.txt
co2footprint_*.html
site