params {
    outdir = 'build/classes/groovy/test/nextflow/co2footprint/cli/out'
    trace_report_suffix = 'test'
}

co2footprint {
    trace {
        file = "${params.outdir}/co2footprint_trace_${params.trace_report_suffix}.txt"
    }
    summary {
        file = "${params.outdir}/co2footprint_summary_${params.trace_report_suffix}.txt"
    }
    report {
        file = "${params.outdir}/co2footprint_report_${params.trace_report_suffix}.html"
    }
    dataFile {
        file = "${params.outdir}/co2footprint_data_${params.trace_report_suffix}.yaml"
    }
}