params {
    outdir = 'build/classes/groovy/test/nextflow/co2footprint/cli/out'
    trace_report_suffix = 'test'
}

co2footprint {
    trace {
        file = "${params.outdir}/trace_${params.trace_report_suffix}.txt"
    }
    summary {
        file = "${params.outdir}/summary_${params.trace_report_suffix}.txt"
    }
    report {
        file = "${params.outdir}/report_${params.trace_report_suffix}.html"
    }
    provenance {
        file = "${params.outdir}/provenance_${params.trace_report_suffix}.yaml"
        enabled = true
    }
}