name: nf-co2footprint CI
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  build:
    name: Build nf-co2footprint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        java_version: [17, 23]

    steps:
      - name: Check environment variables
        run: env | sort

      - name: Checkout PR branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true

      - name: Setup Java ${{ matrix.java_version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{matrix.java_version}}
          architecture: x64
          distribution: 'temurin'

      - name: Compile plugin
        run: ./gradlew assemble

      - name: Execute checks / tests
        run: ./gradlew check --no-daemon --info || echo "exit_code=$?" >> $GITHUB_OUTPUT

      - name: Upload test and check reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: gradle-check-reports_${{ matrix.java_version }}
          path: |
            **/build/reports/
            **/build/test-results/

      - name: Summarize tests results
        if: always()
        uses: jeantessier/test-summary-action@v1

      - name: Fail if Gradle check failed
        if: ${{ steps.gradle.outputs.exit_code }}
        run: |
          echo "Gradle check failed with exit code ${{ steps.gradle.outputs.exit_code }}"
          exit ${{ steps.gradle.outputs.exit_code }}